# Python bytecode
__pycache__/
*.pyc
*.pyo

# Django files
db.sqlite3
*.log
*.pot

# Environment variables
.env
settings_local.py

# Static and media files
staticfiles/
media/

# Virtual environment
venv/
env/

# IDE files
.idea/
.vscode/
*.swp
*.sublime-*

# OS-specific files
.DS_Store
Thumbs.db
